https://docs.google.com/document/d/132qxnhtBVeNmmRHfwwH6mpdn0UOr9jmUMHE9ixS-l3s/edit?tab=t.0

In [1]:
import pandas as pd

In [4]:
#1
# series
lst=[10, 20, 30, 40, 50]
ser=pd.Series(lst)
print(ser)

print(ser.index)
print(ser.dtypes)

#data frame

df_data={
    "Name":['Rizvi','Prova','Rifat','Sadia','Ripro'],
    "Age" :[25,24,26,25,7],
    "City":["Dhaka","Khulna","Kushtia","Rajshahi","Rangpur"]
}
df=pd.DataFrame(df_data)
print(df)
print(df.index)
print(df.dtypes)

0    10
1    20
2    30
3    40
4    50
dtype: int64
RangeIndex(start=0, stop=5, step=1)
int64
    Name  Age      City
0  Rizvi   25     Dhaka
1  Prova   24    Khulna
2  Rifat   26   Kushtia
3  Sadia   25  Rajshahi
4  Ripro    7   Rangpur
RangeIndex(start=0, stop=5, step=1)
Name    object
Age      int64
City    object
dtype: object

In [8]:
df=pd.read_excel("/content/phitron_student_marks.xlsx")
print(df.shape)
print(df.dtypes)
print(df.describe())

(20, 9)
StudentID                object
FullName                 object
Data Structure Marks    float64
Algorithm Marks         float64
Python Marks            float64
CompletionStatus         object
EnrollmentDate           object
Instructor               object
Location                 object
dtype: object
       Data Structure Marks  Algorithm Marks  Python Marks
count             16.000000        16.000000     15.000000
mean              84.000000        84.000000     85.666667
std                6.501282         6.501282      5.394000
min               72.000000        72.000000     76.000000
25%               79.500000        79.500000     83.000000
50%               85.500000        85.500000     85.000000
75%               88.250000        88.250000     88.500000
max               94.000000        94.000000     95.000000

In [17]:
data = {
    'Product': ['Pen', 'Book', 'Eraser', 'Pencil'],
    'Price': [10, 50, 5, 7],
    'Quantity': [100, 60, 200, 150]
}
df

  Product  Price  Quantity
0     Pen     10       100
1    Book     50        60
2  Eraser      5       200
3  Pencil      7       150

In [14]:
data = {
    'Product': ['Pen', 'Book', 'Eraser', 'Pencil'],
    'Price': [10, 50, 5, 7],
    'Quantity': [100, 60, 200, 150]
}

df=pd.DataFrame(data)
print(df.columns)
print(df.index)
print("\nA single column : \n",df['Product'])
print("\nA full Row : \n",df.iloc[0])

Index(['Product', 'Price', 'Quantity'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

A single column :
 0       Pen
1      Book
2    Eraser
3    Pencil
Name: Product, dtype: object

A full Row :
 Product     Pen
Price        10
Quantity    100
Name: 0, dtype: object

In [20]:
#4
f_r_loc=df.loc[0]
f_r_iloc=df.iloc[0]
print("First row (.loc):\n", f_r_loc)
print("\nFirst row (.iloc):\n", f_r_iloc)

s_c_loc=df.loc[:,'Price']
s_c_iloc=df.iloc[:,1]
print("\nSecond column (.loc):\n", s_c_loc)
print("\nSecond column (.iloc):\n", s_c_iloc)

block_loc = df.loc[1:2, ['Price', 'Quantity']]
block_iloc = df.iloc[1:3, 1:3]
print("\n2x2 block (.loc):\n", block_loc)
print("\n2x2 block (.iloc):\n", block_iloc)

First row (.loc):
 Product     Pen
Price        10
Quantity    100
Name: 0, dtype: object

First row (.iloc):
 Product     Pen
Price        10
Quantity    100
Name: 0, dtype: object

Second column (.loc):
 0    10
1    50
2     5
3     7
Name: Price, dtype: int64

Second column (.iloc):
 0    10
1    50
2     5
3     7
Name: Price, dtype: int64

2x2 block (.loc):
    Price  Quantity
1     50        60
2      5       200

2x2 block (.iloc):
    Price  Quantity
1     50        60
2      5       200

In [21]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Math": [85, 90, 78, 92],
    "English": [88, 75, 82, 95]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

df_drop_col = df.drop(columns=['English'])
print("\nAfter dropping 'English' column:\n", df_drop_col)

df_drop_row = df.drop(index=2)
print("\nAfter dropping row with index 2:\n", df_drop_row)

Original DataFrame:
       Name  Math  English
0    Alice    85       88
1      Bob    90       75
2  Charlie    78       82
3    David    92       95

After dropping 'English' column:
       Name  Math
0    Alice    85
1      Bob    90
2  Charlie    78
3    David    92

After dropping row with index 2:
     Name  Math  English
0  Alice    85       88
1    Bob    90       75
3  David    92       95

In [22]:

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Department": ["HR", "IT", "Finance", "IT", "HR"],
    "Salary": [50000, 60000, 55000, 60000, 52000]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# Sort by Salary (ascending) and Name (descending)
sorted_df = df.sort_values(by=["Salary", "Name"], ascending=[True, False])
print("\nSorted DataFrame:\n", sorted_df)

Original DataFrame:
       Name Department  Salary
0    Alice         HR   50000
1      Bob         IT   60000
2  Charlie    Finance   55000
3    David         IT   60000
4      Eve         HR   52000

Sorted DataFrame:
       Name Department  Salary
0    Alice         HR   50000
4      Eve         HR   52000
2  Charlie    Finance   55000
3    David         IT   60000
1      Bob         IT   60000

In [24]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Helen"],
    "Score": [85, 55, 30, 70, 90, 40, 25, 65]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# Students with Score > 60
high_scores = df[df["Score"] > 60]
print("\nStudents with Score > 60:\n", high_scores)

# Students with Score < 40
low_scores = df[df["Score"] < 40]
print("\nStudents with Score < 40:\n", low_scores)

Original DataFrame:
       Name  Score
0    Alice     85
1      Bob     55
2  Charlie     30
3    David     70
4      Eve     90
5    Frank     40
6    Grace     25
7    Helen     65

Students with Score > 60:
     Name  Score
0  Alice     85
3  David     70
4    Eve     90
7  Helen     65

Students with Score < 40:
       Name  Score
2  Charlie     30
6    Grace     25